# Remove vscode and meson build directories
.vscode/
build/

# Keep the next two in this order, removes the usr directory (which is the install files), but
# retains the lib/usr directory.
usr/
!lib/usr/

# Rust
**/target/
**/Cargo.lock
